.user-container {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 0.25rem;

    p,
    .text_coin {
        font-size: calc(0.75em + 0.75vw);
    }


    .avatar {
        border: 0.1rem solid black;
        border-radius: 50%;
        width: calc(3em + 1vw);
        height: calc(3em + 1vw);
        display: inline-flex;
        align-items: center;
        justify-content: center;

        div {
            filter: invert(100%);
            // font-size: calc(1em + 1vw);
            font-weight: bold;
        }
    }
}