.fieldOpen-container {
    position: relative;
    height: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
    margin: auto;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    gap: calc(3em + 2vh);
    width: 100%;

    .openCase {
        position: relative;
        overflow: hidden;
        width: 100%;
        box-sizing: border-box;

        height: calc(9em + 8vw);

        border: 0.3rem solid #000;
        border-radius: 10px;

        /* Фон и тени */
        background: linear-gradient(135deg, rgba(0, 0, 0, 0.7), rgba(34, 34, 34, 0.7));
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);

        /* Переходы */
        transition: transform 0.3s ease, box-shadow 0.3s ease;


        .line {
            position: sticky;
            width: 0.4em;
            height: 100%;
            top: 0%;
            left: 50%;
            transform: translate(-50%, 0%);

            background-color: rgba(190, 0, 0, 0.521);
            z-index: 1000;

        }

        .loot-box-container {
            position: absolute;
            top: 0;
            left: 100%;
            // border: 5px solid black;
            display: inline-flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: max-content;
            height: 100%;
            // transition: 8s cubic-bezier(0.075, 0.82, 0.165, 1);

            // animation: lootScroll 5s ease;


            .item-container {
                position: relative;
                height: 100%;
            }

        }


        .text-loading-items {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
            font-size: calc(1em + 1vw);
            width: max-content;
            margin: 0%;
            z-index: 2000;
        }


        &.active {
            transform: translateY(-10px);
            box-shadow: 0 12px 20px rgba(0, 0, 0, 0.6);
        }
    }


   

    .openCase::before {
        content: '';
        position: absolute;
        top: -50%;
        left: -50%;
        width: 200%;
        height: 200%;
        background: radial-gradient(circle at center, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
        opacity: 0.5;
        transition: opacity 0.3s ease;
    }

   


    .butts-container {
        margin: 0 auto;
        display: inline-flex;
        flex-direction: column;
        gap: 1rem;
        width: 50%;

        .OpenButt {
            margin: auto;
            width: 100%;
            transition: 1s all;
            font-weight: bold;

            box-shadow: 5px 5px 10px black;


            background-color: gray;
        }

        .OpenButt.active {
            background-color: #2663f0;
        }




    }
}






@media (max-width:620px) {



    .fieldOpen-container {
        width: 100%;
        margin: auto;
        // margin: auto auto 0 auto;

        .butts-container {
            width: 100%;
        }
    }

}