.item-container {
    position: relative;
    display: inline-flex;
    height: calc(3em + 3vw);
    width: auto;



    img {
        height: 100%;
        width: auto;
        object-fit: contain;
    }


    .prevue-container-info {
        display: inline-flex;
        flex-direction: row;
        top: 0;
        right: 0;
        position: absolute;


        // height: ;
        // padding: 0.1rem;




        .mini-block-container {
            border-radius: 50%;

            background-color: black;

            width: calc(1em + 1vw);
            height: calc(1em + 1vw);

            p {
                position: relative;
                top: 50%;
                left: 50%;
                font-size: calc(0.7em + 0.7vw);
                transform: translate(-50%, -50%);
                text-align: center;

                margin: auto;
            }


        }






    }



}

.dialog-interact-item-container {
    border: none;
    background-color: rgb(18, 18, 18);
    display: inline-flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: none;
    width: calc(15em + 20vw);
    height: auto;
    max-width: 100%;
    // min-width: max-content;
    border-radius: 0.4rem;
    padding: 0.75rem;
    z-index: 1000;


    .header-info-dialog {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;

        .text-title-dialog {
            font-size: calc(0.9em + 0.8vw);
            margin: 0%;
            color: #ffffff;
        }

        .close-image {
            filter: invert(100%);
            height: calc(1em + 1vw);
            width: calc(1em + 1vw);

            cursor: pointer;


        }

    }

    .openPrice-info {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        margin: auto;
        gap: 0.5rem;

        header {
            font-family: 'lilitaonerus';

        }
    }


    .item_dialog-img {
        height: calc(8em + 8vw);
        margin: 0 auto 0 auto;
        width: auto;
        object-fit: contain;
        // width: calc(8em + 8vw);
    }

    .sell-butts-container {
        width: 100%;
        display: inline-flex;
        flex-direction: column;

        gap: 0.5rem;

        button {
            width: 100%;
            padding: 0.35rem 0.75rem;

            .butt-container-info {
                padding: 0.1rem;
                width: 100%;
                display: inline-flex;
                flex-direction: row;
                align-items: center;
                // margin: auto;
                gap: 0.5rem;

                p {
                    margin: 0%;
                    font-size: calc(0.5em + 0.5em);
                }
            }
        }
    }
}



@keyframes fadeOut {
    from {
      opacity: 1;
      transform: scale(1);
    }
    to {
      opacity: 0;
      transform: scale(0.9);
    }
  }
  



.filter-block {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.39);
    filter: blur(30px);
    z-index: 900;
}