.cf {
    zoom: 1;

    .three {
        display: inline-flex;
        position: relative;
        box-sizing: border-box;
        padding: 2rem;
        box-sizing: border-box;
        // margin-top: 10em;
        width: 100%;
        height: 100%;


        .loader {
            -webkit-perspective: 120px;
            -moz-perspective: 120px;
            -ms-perspective: 120px;
            perspective: 120px;

            border-radius: 100%;
            position: relative;
            margin: auto;

            width: calc(4em + 3vw);
            height: calc(4em + 3vw);




        }

        .loader:before {
            content: "";
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            background-image: url("../../../../public/utils/AppImg.jpg");
            background-size: cover;
            background-color: #000000;
            animation: flip 2s infinite;
        }

    }
}



@keyframes flip {
    0% {
        transform: rotateX(0) rotateY(0);
    }

    25% {
        transform: rotateX(0) rotateY(180deg);
    }

    50% {
        transform: rotateX(180deg) rotateY(180deg);
    }

    75% {
        transform: rotateX(180deg) rotateY(360deg);
    }

    100% {
        transform: rotateX(360deg) rotateY(360deg);
    }
}