.nav-container {
    position: relative;
    display: inline-flex;
    flex-wrap: nowrap;
    box-sizing: border-box;
    padding: 0.4rem;
    gap: 1.5rem;
    box-sizing: border-box;
    // width: calc(1.5em + 1.5vw);
    // height: 100%;
    background-color: #242424;
    //    left: 0;
    flex-direction: row;
    height: min-content;
    justify-content: space-evenly;
    // margin-top: auto;
    width: 100%;


    a.active .icon {
        // background-color: red;
        filter: invert(100%);
        scale: 110%;
    }

    .icon {
        width: calc(1.5em + 1.5vw);
        height: calc(1.5em + 1.5vw);
        filter: invert(50%);

        img {
            width: 100%;
            height: 100%;
        }
    }

    .end-item {
        margin-top: auto;
    }

    .icon:hover {
        filter: invert(100%);
    }
}


// @media (max-width: 620px) {
//     .nav-container {

//         flex-direction: row;
//         height: min-content;
//         justify-content: space-evenly;

//         margin-top: auto;
//     }
// }