.container-page {
    display: inline-flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;

    text-align: center;




    .entry-container {
        font-size: x-large;
        gap: 1.5rem;
        margin: auto;
        width: 100%;
        align-items: center;
        display: inline-flex;
        flex-direction: column;
    }
}